In [1]:
import pandas as pd

In [4]:
df=pd.read_excel("E:\\z Others\\PIAIC Portal\\Documents\\Results\\PIAIC Islamabad Batch 3 Quarter 1 Final Grades-Results - Online Quarter 1.xlsx")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1366 entries, 0 to 1365
Data columns (total 9 columns):
Rank                      1366 non-null int64
Overall Percentile        1366 non-null float64
Grade                     1366 non-null object
Tests Missed              1366 non-null int64
Roll Number               1366 non-null object
Name                      1366 non-null object
AI for Everyone Quiz 1    1366 non-null int64
Python Quz 1              1366 non-null int64
Python Quiz 2             1366 non-null int64
dtypes: float64(1), int64(5), object(3)
memory usage: 96.1+ KB

In [7]:
df[df["Name"]=="Syed Asim Ali Shah"]

,Rank,Overall Percentile,Grade,Tests Missed,Roll Number,Name,AI for Everyone Quiz 1,Python Quz 1,Python Quiz 2
33,32,93.33,A,0,PIAIC61748,Syed Asim Ali Shah,85,99,96

In [8]:
df.head()

,Rank,Overall Percentile,Grade,Tests Missed,Roll Number,Name,AI for Everyone Quiz 1,Python Quz 1,Python Quiz 2
0,1,100.00,A,0,PIAIC60793,Muhammad Qasim Khan,100,100,100
1,1,100.00,A,0,PIAIC61227,Muhammad Naushervan Aziz Esker,100,100,100
2,3,98.67,A,0,PIAIC60289,Hamza alam shah,97,99,100
3,3,98.67,A,0,PIAIC69630,MUHAMMAD FARHAN HUMAYUN,99,100,97
4,5,98.00,A,0,PIAIC70192,Jawad Zafar Ahmed Khan,97,98,99

In [28]:
df.sort_values(by="AI for Everyone Quiz 1",ascending=False).head(201)

,Rank,Overall Percentile,Grade,Tests Missed,Roll Number,Name,AI for Everyone Quiz 1,Python Quz 1,Python Quiz 2
0,1,100.00,A,0,PIAIC60793,Muhammad Qasim Khan,100,100,100
8,8,96.67,A,0,PIAIC70514,Alina Baig,100,97,93
35,32,93.33,A,0,PIAIC72594,Saher Tabbasum,100,91,89
1,1,100.00,A,0,PIAIC61227,Muhammad Naushervan Aziz Esker,100,100,100
207,206,80.33,A,0,PIAIC69988,Muhammad Tauqeer Ashraf,99,64,78
58,59,91.33,A,0,PIAIC55365,Junaid Iqbal,99,84,91
29,30,93.67,A,0,PIAIC56136,Ali Haider,99,96,86
615,616,33.00,F,2,PIAIC58957,Syeda Afroze Zehra Zaidi,99,0,0
618,616,33.00,F,2,PIAIC71666,Umar Farooq,99,0,0
23,21,94.67,A,0,PIAIC67639,Muhammad Tariq,99,89,96
76,76,90.00,A,0,PIAIC72637,Zarmeena,99,71,100
498,498,56.67,B,1,PIAIC61275,Ahsan Mumtaz Chattha,99,71,0
617,616,33.00,F,2,PIAIC64211,Bilal Ahmed,99,0,0
616,616,33.00,F,2,PIAIC59428,Muhammad Seemab Saleem,99,0,0
92,92,88.00,A,0,PIAIC56934,Syed Ahmad Jamal,99,76,89
3,3,98.67,A,0,PIAIC69630,MUHAMMAD FARHAN HUMAYUN,99,100,97
11,10,96.33,A,0,PIAIC73236,Qasim Hussain,99,93,97
12,13,95.67,A,0,PIAIC50328,Ahmed Salman,99,89,99
150,151,84.33,A,0,PIAIC71888,Aqib Hussain,98,79,76
34,32,93.33,A,0,PIAIC63626,Fahad Sardar,98,91,91
122,122,86.00,A,0,PIAIC55512,Hamid Mamraiz,98,79,81
27,28,94.00,A,0,PIAIC71081,Warda Hamid,98,86,98
620,621,32.67,F,2,PIAIC61460,Bilal Ahmed,98,0,0
10,10,96.33,A,0,PIAIC71777,Maryam Malik,98,93,98
61,61,91.00,A,0,PIAIC68286,Yasir Mahmood Khan Lodhi,98,89,86
621,621,32.67,F,2,PIAIC72251,Hiba Khurshid,98,0,0
84,81,89.33,A,0,PIAIC72183,Muhammad Rehmoz Salahuddin Ayub,98,81,89
40,37,93.00,A,0,PIAIC74389,ALINA KAUSER,97,89,93
41,37,93.00,A,0,PIAIC74630,Adeel Quddus,97,96,86
52,52,92.00,A,0,PIAIC54406,Mohsin Ullah,97,93,86
...,...,...,...,...,...,...,...,...,...
212,209,80.00,A,0,PIAIC64861,Anum Nasim,85,79,76
195,193,81.00,A,0,PIAIC65562,Arshad Ullah,85,67,91
264,263,76.33,B,0,PIAIC55898,Asad Rizwan,85,71,73
647,645,28.33,F,2,PIAIC69780,Zubair Shahid,85,0,0
227,227,79.00,A,0,PIAIC60365,MUHAMMAD IMRAN,85,71,81
222,222,79.33,A,0,PIAIC58915,Muhammad Qubais Hafeez,85,81,72
646,645,28.33,F,2,PIAIC68038,Salahuddin Adil,85,0,0
645,645,28.33,F,2,PIAIC62648,Hamza Iftikhar Abbasi,85,0,0
644,645,28.33,F,2,PIAIC50030,Muhammad Saad Rashad,85,0,0
283,282,75.33,B,0,PIAIC71535,Mariam Ahsan,85,68,73
201,198,80.67,A,0,PIAIC58202,MUHAMMAD ZESHAN BUKHARI,85,76,81
30,30,93.67,A,0,PIAIC64057,Muhammad Asim Khan,85,99,97
304,301,73.33,B,0,PIAIC71416,Muhammad Haris Siddiqui,85,62,73
88,88,88.33,A,0,PIAIC56515,Muhammad Usman,85,84,96
173,172,82.33,A,0,PIAIC63618,Muhammad hamid,85,81,81
502,502,56.33,B,1,PIAIC66892,Obaidullah,85,84,0
111,107,87.00,A,0,PIAIC69843,MUHAMMAD IJAZ QAMAR,85,79,97
485,485,58.00,B,1,PIAIC72493,Mafaz Ahmad,85,89,0
116,113,86.67,A,0,PIAIC71234,Taha Ahmad Mirza,85,91,84
119,119,86.33,A,0,PIAIC64245,Farhan Ahmad Salam,85,81,93
120,119,86.33,A,0,PIAIC64785,MUHAMMAD WAQAR SIKANDAR,85,76,98
509,509,55.33,B,1,PIAIC57746,Muhammad Zakiullah Usman,85,81,0
465,466,59.33,B,1,PIAIC55010,Abdul Ahad,85,93,0
127,128,85.67,A,0,PIAIC52872,Hira Jahangir,85,76,96
142,141,84.67,A,0,PIAIC56325,Muhammad Anas,85,86,83
103,101,87.33,A,0,PIAIC69166,Syed Ramiz Sami,85,89,88
144,141,84.67,A,0,PIAIC60987,Usman Saleem,85,81,88
83,81,89.33,A,0,PIAIC70756,Sameh Ul Haq,85,99,84
546,546,49.67,B,1,PIAIC67567,Muhammad Saqib,85,64,0
33,32,93.33,A,0,PIAIC61748,Syed Asim Ali Shah,85,99,96

In [34]:
df.sort_values(by="Python Quz 1",ascending=False).head(12)

,Rank,Overall Percentile,Grade,Tests Missed,Roll Number,Name,AI for Everyone Quiz 1,Python Quz 1,Python Quiz 2
0,1,100.00,A,0,PIAIC60793,Muhammad Qasim Khan,100,100,100
1,1,100.00,A,0,PIAIC61227,Muhammad Naushervan Aziz Esker,100,100,100
3,3,98.67,A,0,PIAIC69630,MUHAMMAD FARHAN HUMAYUN,99,100,97
5,6,97.00,A,0,PIAIC56368,Rizwan Amjad,96,100,95
6,6,97.00,A,0,PIAIC70620,Syed Fahad Ahmed,91,100,100
528,529,53.00,B,1,PIAIC54976,Owais Akhtar,59,100,0
511,509,55.33,B,1,PIAIC67806,Muhammad Ali Taimoor,66,100,0
83,81,89.33,A,0,PIAIC70756,Sameh Ul Haq,85,99,84
101,101,87.33,A,0,PIAIC56353,Arsalan Amjad,85,99,78
121,122,86.00,A,0,PIAIC54937,Syed Saad Waqar,75,99,84
67,64,90.67,A,0,PIAIC71072,Imran Zafar,77,99,96
33,32,93.33,A,0,PIAIC61748,Syed Asim Ali Shah,85,99,96

In [42]:
df.sort_values(by="Python Quiz 2",ascending=False).head(46)

,Rank,Overall Percentile,Grade,Tests Missed,Roll Number,Name,AI for Everyone Quiz 1,Python Quz 1,Python Quiz 2
0,1,100.00,A,0,PIAIC60793,Muhammad Qasim Khan,100,100,100
6,6,97.00,A,0,PIAIC70620,Syed Fahad Ahmed,91,100,100
81,81,89.33,A,0,PIAIC59469,Alam Khalid,70,98,100
76,76,90.00,A,0,PIAIC72637,Zarmeena,99,71,100
1,1,100.00,A,0,PIAIC61227,Muhammad Naushervan Aziz Esker,100,100,100
2,3,98.67,A,0,PIAIC60289,Hamza alam shah,97,99,100
124,122,86.00,A,0,PIAIC58724,Abdul Wahab Mazhar Shah,83,76,99
26,26,94.33,A,0,PIAIC75414,Mohammad Zaid Bin Khalid,88,96,99
181,182,81.67,A,0,PIAIC51145,sheher bano,72,74,99
19,19,95.00,A,0,PIAIC58128,Shakir Ali Khan,90,96,99
138,137,85.00,A,0,PIAIC68343,Syed Hamza Haroon,72,84,99
4,5,98.00,A,0,PIAIC70192,Jawad Zafar Ahmed Khan,97,98,99
14,13,95.67,A,0,PIAIC75427,Naveed Ahmed Khan,97,91,99
12,13,95.67,A,0,PIAIC50328,Ahmed Salman,99,89,99
114,113,86.67,A,0,PIAIC62901,Muhammad Shahrayar Malik,75,86,99
406,404,65.00,B,1,PIAIC66184,Ayesha Imran,0,96,99
120,119,86.33,A,0,PIAIC64785,MUHAMMAD WAQAR SIKANDAR,85,76,98
43,43,92.67,A,0,PIAIC62861,Muhammad Shahid,91,89,98
109,107,87.00,A,0,PIAIC64751,Muhammad Awais Sarwar Raja,77,86,98
37,37,93.00,A,0,PIAIC59137,Muhammad Uzair Danyal,92,89,98
86,87,88.67,A,0,PIAIC64947,Syed Rafeh Mansoor,77,91,98
165,163,83.00,A,0,PIAIC68324,Syed Abdul Wahab,70,81,98
31,32,93.33,A,0,PIAIC55679,Sofia naureen khan,85,97,98
27,28,94.00,A,0,PIAIC71081,Warda Hamid,98,86,98
66,64,90.67,A,0,PIAIC67574,Abdul Manan,77,97,98
10,10,96.33,A,0,PIAIC71777,Maryam Malik,98,93,98
21,21,94.67,A,0,PIAIC54763,Saad Omer Siddiqui,95,91,98
24,21,94.67,A,0,PIAIC69857,ALI HAIDER,88,98,98
11,10,96.33,A,0,PIAIC73236,Qasim Hussain,99,93,97
168,169,82.67,A,0,PIAIC59153,Sehrish Khalid,70,81,97
7,8,96.67,A,0,PIAIC59358,Adnan Khan,96,97,97
102,101,87.33,A,0,PIAIC60375,Mohsin Ashraf,72,93,97
111,107,87.00,A,0,PIAIC69843,MUHAMMAD IJAZ QAMAR,85,79,97
3,3,98.67,A,0,PIAIC69630,MUHAMMAD FARHAN HUMAYUN,99,100,97
56,52,92.00,A,0,PIAIC68317,Rimsha Anees,90,89,97
75,76,90.00,A,0,PIAIC63089,Saher Tariq,94,79,97
197,198,80.67,A,0,PIAIC53117,Muhammad Faheem Khalil Paracha,61,84,97
30,30,93.67,A,0,PIAIC64057,Muhammad Asim Khan,85,99,97
13,13,95.67,A,0,PIAIC69854,Mohid Ahmed Janjua,95,96,96
55,52,92.00,A,0,PIAIC67369,Syed Abdul Rafay,91,89,96
54,52,92.00,A,0,PIAIC60831,Haseeb Akhtar,96,84,96
88,88,88.33,A,0,PIAIC56515,Muhammad Usman,85,84,96
23,21,94.67,A,0,PIAIC67639,Muhammad Tariq,99,89,96
50,48,92.33,A,0,PIAIC73222,Muhammad Nouman Tariq,88,93,96
67,64,90.67,A,0,PIAIC71072,Imran Zafar,77,99,96
33,32,93.33,A,0,PIAIC61748,Syed Asim Ali Shah,85,99,96

In [44]:
df[df["AI for Everyone Quiz 1"]==100]

,Rank,Overall Percentile,Grade,Tests Missed,Roll Number,Name,AI for Everyone Quiz 1,Python Quz 1,Python Quiz 2
0,1,100.00,A,0,PIAIC60793,Muhammad Qasim Khan,100,100,100
1,1,100.00,A,0,PIAIC61227,Muhammad Naushervan Aziz Esker,100,100,100
8,8,96.67,A,0,PIAIC70514,Alina Baig,100,97,93
35,32,93.33,A,0,PIAIC72594,Saher Tabbasum,100,91,89

In [45]:
df[df["Python Quz 1"]==100]

,Rank,Overall Percentile,Grade,Tests Missed,Roll Number,Name,AI for Everyone Quiz 1,Python Quz 1,Python Quiz 2
0,1,100.00,A,0,PIAIC60793,Muhammad Qasim Khan,100,100,100
1,1,100.00,A,0,PIAIC61227,Muhammad Naushervan Aziz Esker,100,100,100
3,3,98.67,A,0,PIAIC69630,MUHAMMAD FARHAN HUMAYUN,99,100,97
5,6,97.00,A,0,PIAIC56368,Rizwan Amjad,96,100,95
6,6,97.00,A,0,PIAIC70620,Syed Fahad Ahmed,91,100,100
511,509,55.33,B,1,PIAIC67806,Muhammad Ali Taimoor,66,100,0
528,529,53.00,B,1,PIAIC54976,Owais Akhtar,59,100,0

In [46]:
df[df["Python Quiz 2"]==100]

,Rank,Overall Percentile,Grade,Tests Missed,Roll Number,Name,AI for Everyone Quiz 1,Python Quz 1,Python Quiz 2
0,1,100.00,A,0,PIAIC60793,Muhammad Qasim Khan,100,100,100
1,1,100.00,A,0,PIAIC61227,Muhammad Naushervan Aziz Esker,100,100,100
2,3,98.67,A,0,PIAIC60289,Hamza alam shah,97,99,100
6,6,97.00,A,0,PIAIC70620,Syed Fahad Ahmed,91,100,100
76,76,90.00,A,0,PIAIC72637,Zarmeena,99,71,100
81,81,89.33,A,0,PIAIC59469,Alam Khalid,70,98,100

In [47]:
df.describe()

,Rank,Overall Percentile,Tests Missed,AI for Everyone Quiz 1,Python Quz 1,Python Quiz 2
count,1366.000000,1366.000000,1366.000000,1366.000000,1366.000000,1366.000000
mean,566.443631,35.026889,1.595168,40.775256,34.589312,29.715959
std,266.738174,35.174253,1.341130,36.779374,39.011003,39.483124
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,340.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,683.000000,23.330000,2.000000,49.000000,0.000000,0.000000
75%,804.000000,70.000000,3.000000,75.000000,74.000000,73.000000
max,804.000000,100.000000,3.000000,100.000000,100.000000,100.000000

In [56]:
df["Grade"].value_counts()

F    750
B    337
A    244
C     35
Name: Grade, dtype: int64

In [57]:
df["Tests Missed"].value_counts()

3    563
0    500
2    187
1    116
Name: Tests Missed, dtype: int64

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [25]:
import numpy as np
myarray=np.array([[1,-3,5,2],[6,7,1,8],[3,3,12,5]])
a=np.zeros((1,4))
for i in range (0,4):
    sum=0
    for j in range(0,3):
        sum=sum+myarray[j][i]
    a[0][i]=sum
mynewarray=np.vstack((myarray,a))
def ExtractDiag(a):
    b=np.zeros((1,4))
    for i in range(0,4):
        for j in range(0,4):
            if i==j:
                b[0][i]=a[i][j]
    return b
diagArrayReturned=ExtractDiag(mynewarray)
diagArrayReturned
diagArrayReturned[0]=0
diagArrayReturned[1]=10
diagArrayReturned[2]=15
diagArrayReturned[3]=100

In [30]:
mynewarray

array([[ 1., -3.,  5.,  2.],
       [ 6.,  7.,  1.,  8.],
       [ 3.,  3., 12.,  5.],
       [10.,  7., 18., 15.]])

array([[ 1.,  7., 12., 15.]])